* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
}

/* header Styles */
h1 {
    background-image: linear-gradient(to right, rgb(52,97,187), rgb(32,9,75));
    color: white;
    text-align: center;
}

h2 {
    text-align: center;
    display: inline;
    font-size: x-large;
}

h3 {
    text-align: left;
    display: inline;
    font-size: xx-large;
}

h4 {
    text-align: center;
    font-size: medium;
}

.fHeader {
    text-align: left;
    display: inline;
    font-size: x-large;
    margin-right: 70%;
    color: black;
}

/* search column style */
#search {
    background-color: rgb(80,152,230);
    color: white;
}

hr {
    height: 3px;
    background: black;
}

#citySearch {
    height: 90vh;
    padding: 30px;
}

input {
    height: 40px;
    text-align: left;
    margin-bottom: 10px;
}

button {
    height: 40px;
    text-align: center;
}

[id^="btnCity"] {
    height: 40px;
    background-color: rgb(174,174,174);
    text-align: center;
    border-radius: 3px;
    margin-bottom: 5px;
}

#cityButtons {
    display: contents;
    align-items: center;
}

/* current weather section */
#current li{
    color: black;
    font-size: medium;
}

#currentWeather {
    height: 30vh;
    color: black;
    border: solid black 2px;
    border-radius: 3px;
}

#uvi {
    display: inline-block;
}

#uviGreen {
    background-color: green;
    border-radius: 2px;
    padding: 1px 2px;
}

#uviYellow {
    background-color: yellow;
    border-radius: 2px;
    padding: 1px 2px;
}

#uviOrange {
    background-color: orange;
    border-radius: 2px;
    padding: 1px 2px;
}

#uviRed {
    background-color: red;
    border-radius: 2px;
    padding: 1px 2px;
}

#uviPurple {
    background-color: purple;
    border-radius: 2px;
    padding: 1px 2px;
}

#currentIcon {
    vertical-align: top;
    margin: -4px 0 0px 0px;
}

/* forecast section */
#forecast {
    height: 45vh;
    margin-left: 0;
    margin-right: 0;
    color: white;
}

li {
    list-style: none; 
    font-size: small;
    padding: 0 0 5px 5px;
    color: white;
}

[id^="day-"] {
    background-color: rgb(45,62,80);
    height: 30vh;
    margin: 10px 5px 0 5px;
    color: black;
    width: 18%;
}

img {
    width: 8vh;
}

/* settings for small screen */
@media (max-width: 480px) {
    [id^="btnCity"] {
        font-size: 12px;
    }
    h2 {
        font-size: 16px;
    }
    input {
        font-size: 12px;
    }
    #forecast {
        flex-flow: column;
        width: 150vh;
    }
}
